.container{
    display: flex;
    gap: 30px;
}
.imageContainer{
    position: relative;
    flex: 1;
}
.image{
    object-fit: cover;
}
.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.date{
    color: gray;
}
.category{
    color: crimson;
    text-transform: uppercase;
}
.title{
    font-size: 34px;
}
.desc{
    font-size: 18px;
    color: var(--softTextColor);
}
.button{
    font-size: 18px;
    width: max-content;
    padding-bottom: 2px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 2px solid crimson;
    cursor: pointer;
    color: var(--textColor);
}
@media screen and (max-width:1280px) {
    .imageContainer{
        display: none;
    }
}